<!DOCTYPE html>
<html>
    <head>
        <title>Beta Builder</title>
    </head>
    <link rel="stylesheet" href="index.css">
    <body class="page">
        <div class="page__wrapper">
            <h1>Betas</h1>
            <div class="create-beta">
                <a href="#" class="create-beta__control" alt="create beta">Create new beta</a>
            </div>
            <div class="betas-container">Loading...</div>
            <div class="create-beta-popup">
                <div class="create-beta-popup__under"></div>
                <div class="create-beta-popup__content">
                    <a class="create-beta-popup__close" href="#">&#10006;</a>

                    <div class="create-beta-popup__title">Enter beta data:</div>
                    <div class="create-beta-popup__info">
                        <p>Title: <input class="create-beta-popup__title-input" placeholder="Beta title"></p>
                        <p>Branch: <input class="create-beta-popup__branch" placeholder="Link to your git branch"></p>
                    </div>
                    <div class="create-beta-popup__controls">
                        <button type="button" class="create-beta-popup__ok">Ok</button>
                        <button type="button" class="create-beta-popup__cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/html" id="beta-template">
            {{#betas}}
            <div class="beta" id="uid{{uid}}">
                <div class="beta__info">
                    <div class="beta__title">Title: <span>{{title}}</span></div>
                    <div class="beta__url">Beta: <a target="_blank" href="{{url}}">{{url}}</a></div>
                    <div class="beta__branch">Branch: <a target="_blank" href="{{gitUrl}}">{{gitUrl}}</a></div>
                </div>
                <div class="beta-controls">
                    <a class="beta-controls__remove" href="#" title="Remove beta">&#128465;</a>
                    <!--<a class="beta-controls__edit" href="#" alt="edit beta">Edit</a>
                    <a class="beta-controls__reload" href="#" alt="reload beta">Reload</a>-->
                </div>
                <div class="beta__progress">
                </div>
            </div>
            {{/betas}}
        </script>
        <script src="jspm_packages/system.js"></script>
        <script src="config.js"></script>
        <script>
            System.import('index.js');
        </script>
    </body>
</html>