.page
{
    background-color: #f2f2f2;
}

.page__wrapper
{
    margin: 10px;
}

.betas-container
{
    margin-top: 20px;
}

.beta
{
    position: relative;

    margin-bottom: 10px;
    padding: 7px;

    background-color: #fdfdfd;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15),inset 0 -1px 0 0 rgba(0,0,0,0.2);
    border-radius: 3px;
}

.beta-controls
{
    position: absolute;
    right: 7px;
    top: 7px;
}

.beta-controls__remove
{
    text-decoration: none;
}

.beta__url,
.beta__branch
{
    margin-top: 5px;
}

.create-beta-popup
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: none;
}

.create-beta-popup_visible
{
    display: block;
}

.create-beta-popup__under
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(130, 130, 130, .5);
}

.create-beta-popup__close
{
    position: absolute;
    right: 20px;
    top: 17px;

    font-size: 18px;
    text-decoration: none;

    color: rgba(0, 0, 0, .6);
}

.create-beta-popup__close:hover
{
    color: rgba(0, 0, 0, .8);
}

.create-beta-popup__content
{
    position: absolute;

    width: 700px;
    height: 200px;

    left: calc(50% - 350px);
    top: calc(50% - 100px);

    padding: 20px;

    background-color: #fdfdfd;
    box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, .5);

    border-radius: 3px;
}

.create-beta-popup__title
{
    margin-bottom: 20px;
}

.create-beta-popup__branch
{
    width: 550px;
}

.create-beta-popup__controls
{
    position: absolute;
    bottom: 20px;
}

.create-beta-popup__ok
{
    margin-right: 20px;
}

.beta__progress
{
    display: none;

    margin-top: 5px;

    height: 7px;

    animation-duration: 1s;
    animation-name: progress;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.beta__progress_visible
{
    display: block;
}

@keyframes progress {
    from {
        background-color: #c1c1c1;
    }

    to {
        background-color: #808080;
    }
}

.beta_build_success
{
    background-color: #e3ffef;
}

.beta_build_fail
{
    background-color: #e3ffef;
}